<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>xmlmapping</servlet-name>
        <servlet-class>chap1.XmlLifeCycleTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xmlmapping</servlet-name>
        <url-pattern>/xml-lifecycle</url-pattern>
    </servlet-mapping>


    <!--6장 에러 처리를 위한 것-->
    <error-page>
        <error-code>404</error-code>
        <location>/showErrorPage</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/showErrorPage</location>
    </error-page>
    <!--                    -->


</web-app>